.contactoContainer {
  margin-top: 1rem !important;
  display: flex;
  align-content: center;
}

.contacDataContainer {
  grid-column: 1 / span 6;  
}

.contacData {
  padding-bottom: 0.5rem;  
}

.contacTitle  {
  padding-bottom: 1rem; 
  font-size: 1.2rem;
  font-weight: 500; 
}

.formulario {
  grid-column: 7 / span 6;    
}

form .formTitle {
  padding-top: 2.5rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.formGroup {
  width: 100%;      
  padding-top: 0.5rem; 
  border-bottom: 1px solid rgb(123, 123, 133);  
}

.formulario input, .formulario label { 
  padding: 0.3rem 0;   
  height: auto;
  border: none;  
}

.formulario label {    
  width: 100%;
  opacity: 0;
  font-size: 0.9rem;
  transition: all 0.5s ease-in-out;
}

.formulario input {    
  width: 100%;  
  background-color: transparent;
}

.formulario input::placeholder {  
  color: rgb(123, 123, 133);  
}

.formulario input:focus {  
  outline: none;
}

.formulario:has(input:focus) .formGroup:hover label{  
  opacity: 1;
}

/* .formulario:has(input:focus) input:not(:focus) {  
  outline: 1px solid red;
} */

.enviarBtn, .enviarBtnDesabilitado {
  margin-top: 0.5rem;
  width: 100%;
  height: 2rem;
  border: none;
  background-color: white;
  border-radius: 5px;
  color: var(--main-color);
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
}

.formulario .enviarBtnDesabilitado {
  color: grey !important;
}

.sectionContainer:has(.formulario) {
  margin-bottom: 2.1rem;
}

@media screen and (max-width: 576px) {
  .contacDataContainer {
    grid-column: 1 / span 12;  
  }

  .formulario {
    grid-column: 1 / span 12;    
  }

}