.header {
  display: flex;
  position: fixed;
  top: 0;  
  width: 100%; 
  padding: 0.5rem 3rem 0;
  transition: all 0.5 ease-in-out; 
  background-color: rgb(0, 0, 29);
  background-color: var(--main-bg);
  border-bottom: var(--main-border);
  z-index: 99;
}

.icon, .menuIcon {
  filter: invert(37%) sepia(98%) saturate(609%) hue-rotate(168deg) brightness(88%) contrast(96%);
}

.menuIcon {
  margin-right: 0.5rem;
}

.navItem {
  padding: 0 0.5rem;
  font-size: 1rem;
  font-weight: 400;
}

.navItemActive a {
  padding: 0 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}

.headerLateral {  
  position: fixed;  
  width: 110vw;
  height: 100vh;
  top: 0;
  left: -0.5rem;
  background-color: rgba(29, 29, 29, 0.281);
}
  

.iconLateral {
  height: 100vh;
  border-right: solid 1px var(--main-color);
  background-color: white;
  z-index: 90;
}

.navBarLateral .icon {  
  margin: auto;
}

.navBarLateralContainer {
  display: flex;   
  height: 100vh;  
  flex-direction: column;
  top: 0;
  padding: 0.5rem 1rem;  
  background-color: white;
}

.navBarLateral .navItem {
  margin: 0.5rem 0;
  padding: 0;
  border-bottom: solid 1px var(--main-color);
}


@media screen and (max-width: 768px) {
  .header {
    padding: 0 1rem;     
  }
}