.mainh1 {
  padding-top: 15vh;
}

.mainP {
  font-size: 1.5rem; 
  color: var(--third-color);
}

.mainBanner {
  width: 100vw; 
  height: 45vw;
  position: relative; 
}

/* agregar para poder usar vista mobile */
.selectionsContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);  
}

.mainTitle {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/* mainTitle first child */
.mainTitle > *:first-child {
  grid-column: 1 / span 3;
}
/* mainTitle second child */
.mainTitle > *:nth-child(2) {
  grid-column: 5 / span 8;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: flex-end;  
}

.selectedText {  
  align-self: flex-end;
  color: var(--third-color);
  grid-column: 6 / span 7;
  padding-inline: 8px;
}

.mainContactContainer {
  align-content: space-between;
}

/* .mainButton {
  font-size: 1vw;
  display: inline-block !important;
  width: auto !important;
  padding: 0.2rem 0.6rem;
  border: solid 1px red;
  border-radius: 1rem;
  cursor: pointer;
} */

/* Orgullo */
.orgulloContainer {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.orgulloTitle {
  grid-column: 1 / span 4; 
}


.orgulloInfoContainer {
  grid-column: 5 / span 8;  
  display: grid;
  grid-template-columns: repeat(12, 1fr);  
}

.orgulloInfo {
  grid-column: 6 / span 7;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-inline: 8px;
  /* background-color: #1778bd1e; */
}

.orgulloInfo div{  
  grid-column: auto / span 6;
  text-align: center;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #1778bd1e;
}

@media screen and (max-width: 1200px) {
  .mainP { 
    font-size: 1.1rem;      
  }
}

@media screen and (max-width: 768px) {
  .mainP { 
    font-size: 1rem;      
  }
}

@media screen and (max-width: 576px) {

    /* mainTitle first child */
  .mainTitle > *:first-child {
    grid-column: 1 / span 12;
  }
  /* mainTitle second child */
  .mainTitle > *:nth-child(2) {
    grid-column: 1 / span 12;  
    justify-content: flex-start;
    text-align: center;    
  }

  .mainh1, .mainP, .mainTitle {
    text-align: center;
  }

  .selectedText {
    margin: auto;
    grid-column: 1 / span 12;
    padding-inline: 0;
  }

  .orgulloTitle {
    grid-column: 1 / span 12; 
    text-align: center;
  } 
  
  .orgulloInfoContainer {
    grid-column: 1 / span 12;       
  }

  .orgulloInfo {
    grid-column: 1 / span 12;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-inline: 0;
    /* background-color: #1778bd1e; */
  }

}

